    <!-- 4WARD Section -->
    <section id="4ward" class="content-section">
        <div class="left-info-section">
        <div class="container text-left left-container me-auto">
            <h2>ADA for Warriors</h2>
            <p>ADA for Warriors (ticker 4WARD) is a mission-driven single pool for Cardano.  The pool was created as a way to give back to those who have quietly served
                by donating fifty percent of the pool rewards to the <a href="https://www.thirdoptionfoundation.org/" target="_blank">Third Option Foundation</a>.  All donations
            can be tracked on our main <a href="https://swiftcryptollc.github.io/donations/third-option-foundation/" target="_blank">Swift Crypto LLC</a> website.</p>
            <p>The pool consists of one block producer with two relay nodes deployed to AWS.  Each AWS instance is using 4 CPUs and 16 GB RAM, which exceeds the current hardware requirements.  
                One relay and the block producer are in the AWS US East Region and the other relay is in the AWS European Central Region.</p>
                <p>Security and recovery best practices were put in place to help guarantee server availability.  Grafana is used to remotely monitor the status of all three servers. Should disaster recovery be needed, secure remote access
                    is available to our admins from anywhere in the world.</p>
                <p>You can check our current pool status at <a href="https://pool.vet/#b6063f0f2fa05d98132f15defed4c69c06ea61451b4ea4cea0ce1b80" target="_blank">Pool Vet</a>.</p>
                <iframe width="500" height="380" frameborder="0" src="https://js.adapools.org/widget-dark.html?pool=b6063f0f2fa05d98132f15defed4c69c06ea61451b4ea4cea0ce1b80"><a href="https://adapools.org/pool/b6063f0f2fa05d98132f15defed4c69c06ea61451b4ea4cea0ce1b80">Detail</a></iframe>
        </div>
        </div>
    </section>