    <!-- ca Section -->
    <section id="ca" class="content-section">
        <div class="ca-section">
            <div class="container text-left left-container me-auto">
            <h2>Captive Audience</h2>
            <p>Captive Audience offers an array of security, travel, self-defense, firearms, and survival courses designed to develop the skills needed to
                maintain situational awareness and survive in kidnapping, extortion, active shooter, natural disaster, and crisis situations at home and abroad.</p>
            <p>Captive Audience was established by a retired army special forces operator with specialized training and experience in personnel recovery, CAPTaRT
                is comprised of a team with three decades of experience in defense, intelligence, SERE, travel/personnel/facility security, counter terrorism,
                personnel recovery, infiltration/exfiltration, critical incident stress management, risk and threat assessments, and many more skills crucial to the
                company’s mission to eradicate violence perpetrated against travelers.</p>
                <p>Requests for their services have spiked since Russia invaded Ukraine in early 2022.  In response to these requests, 
                    Captive Audience has started <a href="https://www.captiveaudienceptrt.com/support-ukraine-ocv" target="_blank" onclick="updateGoogle('ca')">#OperationCaffeinatedVikings</a>.</p>
                <p>To learn more about their mission, please visit their <a href="https://www.captiveaudienceptrt.com/" target="_blank" onclick="updateGoogle('ca')">website</a>.</p>
            </div>
        </div>
    </section>