<!-- FAQ Section -->
<section id="faq" class="content-section">
  <div class="faq-section">
    <div class="container text-left left-container ms-auto">
      <h2>Frequently Asked Questions</h2>
    </div>
    <div style="display: flex;">
      <div class="container text-left left-container" style="width: 40% !important;float: left !important">
        <dl class="faq">
          <dt>
            <button type="button" aria-expanded="false" aria-controls="faq1_desc">What is ADA?</button>
          </dt>
          <dt>
            <button type="button" aria-expanded="false" aria-controls="faq2_desc">What is proof-of-stake?</button>
          </dt>
          <dt>
            <button type="button" aria-expanded="false" aria-controls="faq3_desc">How do I delegate ADA to support
              the Cardano Network?</button>
          </dt>
          <dt>
            <button type="button" aria-expanded="false" aria-controls="faq6_desc">I bought ADA and delegated. When
              do I get rewards?</button>
          </dt>
          <dt>
            <button type="button" aria-expanded="false" aria-controls="faq4_desc">Why donate to the Third Option
              Foundation?</button>
          </dt>
          <dt>
            <button type="button" aria-expanded="false" aria-controls="faq5_desc">How do the donations
              work?</button>
          </dt>
        </dl>
      </div>
      <div class="text-left" style="width: 60% !important;padding: 0 50px !important;">
        <dd>
          <div id="faq1_desc" class="desc">
            <p>ADA is the token for the Cardano network. Cardano is a third generation, decentralized proof-of-stake
              (PoS) blockchain. Cardano was started in 2015 by one of the co-founders of Ethereum, Charles Hoskinson.
              Cardano and it's ADA
              token were launched in 2017. Cardano has gone through multiple development "eras". Each era goes through
              peer
              reviewed academic research, prototyping, and development.</p>
          </div>
        </dd>
        <dd>
          <div id="faq2_desc" class="desc">
            <p>Proof-of-stake is a type of consensus mechanism used by some cryptocurrency blockchain networks.
              Cardano uses Block Producers (part of a "Stake Pool") to create new transaction blocks and validate
              transactions via the Ourboros protocol.
              Holders of ADA can help secure the network by delegating their ADA to a Stake Pool (like our 4WARD pool).
              In return, holders are
              rewarded with ADA when the
              Stake Pool generates new blocks.</p>
          </div>
        </dd>
        <dd>
          <div id="faq3_desc" class="desc">
            <p>You will need to buy some ADA on an exchange first. After your deposit clears, you will be able to send
              your ADA to a wallet like Yoroi.
              Within Yoroi and other ADA wallets, you can choose a pool and delegate to it. The entire process generally
              takes 5 to 10 days depending on
              the exchange you choose. When you delegate your ADA, there is no lock period and you never give anyone
              else control over your ADA.
              You always maintain the "keys".</p>
            <p>For full step-by-step instructions, see our <a
                href="https://swiftcryptollc.github.io/2021/11/23/staking-guide/" target="_blank">Staking Guide</a>.
            </p>
          </div>
        </dd>
        <dd>
          <div id="faq6_desc" class="desc">
            <p>Cardano uses Epochs to define a period of time that a set of randomly selected pools will be active. The
              random selection is weighted with a number of
              parameters, one being the total delegation to the pool. The more delegation a pool has, the higher chance
              it has to be active for a given epoch.
              When your delegated pool is selected to be active and it creates blocks during that epoch, you will get
              rewards from that epoch in 2 epochs time.</p>

            <p>The timeline looks like this:</p>
            <ul>
              <li>You delegate your ADA to a pool during Epoch A (1 to 5 days)</li>
              <li>Epoch B, your pool is active and you earn rewards (5 days)</li>
              <li>Epoch C, rewards for Epoch B are calculated (5 days)</li>
              <li>Epoch D, Rewards for Epoch B are paid out (5 days)</li>
            </ul>
          </div>
        </dd>
        <dd>
          <div id="faq4_desc" class="desc">
            <p>There are a number of amazing veteran charities. They help veterans and their families with financial
              issues;
              physical, emotional, and psychological issues; housing; education; and many other things that many of us
              take for granted.</p>
            <p>The Third Option Foundation specifically supports the operators (and their families) of the CIA Special
              Activities Center. These operators
              put themselves in the most dangerous situations in the world, usually behind enemy lines. Their work is
              covert, leaving them with
              not much more community support than their families. Also, because of their covert nature, they often
              aren't
              eligible for support from military veteran charities.</p>
            <p>The Third Option Foundation is the only organization that fills that gap. They provide crucial
              survivorship assistance and resiliency programs to heal the wounded, help the families of those we have
              lost, and support those who are still serving.
            </p>
          </div>
        </dd>
        <dd>
          <div id="faq5_desc" class="desc">
            <p>The ADA for Warriors pool currently has a minimum fee of 340 ADA and a 3% variable fee. When our pool is
              active, the
              income for the pool will be 340 ADA plus 3% of the remaining ADA pool rewards per epoch (the remaining 97%
              will get distributed to all of the delegators based on their delegation percentage vs the total
              delegation).</p>
            <p>To reduce the amount of fees paid, donations will be made during the last epoch of each month. Half of the pool
              income for the previous month will be transfered to an exchange and sold. The proceeds of that sale will
              be donated directly to
              the Third Option Foundation.</p>
            <p>All donations will be recorded on our main <a
                href="https://swiftcryptollc.github.io/donations/third-option-foundation/" target="_blank">Swift Crypto LLC</a> website.</p>
          </div>
        </dd>
      </div>
    </div>
</section>