    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <h1 class="brand-heading">{{ site.title }}</h1>
                        <p class="intro-text">A mission-driven single <a href="/community/4ward/" title="ADA for Warriors" onclick="updateGoogle('4ward')">pool</a> 
                            for Cardano that donates a total of 50% of it's op's rewards to the <a href="/missions/third-option-foundation#tof-donations" title="Third Option Foundation Donation History" 
                            onclick="updateGoogle('tof-donations')">Third Option Foundation</a>, 
                            <a href="/missions/captive-audience#ca-donations" title="Captive Audience Donation History" onclick="updateGoogle('ca-donations')">Captive Audience</a>, and 
                            <a href="/missions/500-rising#rising-donations" title="500 Rising Donation History" onclick="updateGoogle('rising-donations')">500 Rising</a>.<br>
                        <a href="#news" class="btn btn-circle page-scroll" onclick="updateGoogle('news')">
                            <i class="fas fa-angle-double-down animated" style="text-shadow: none !important;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
