<!-- Navigation -->
<nav id="nav" class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-lg">
        <div class="navbar-header" style="margin-left:25px">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                style="float:left !important;margin-top: 10px !important">
                <i class="fas fa-bars"></i>
            </button>
            <a class="center-flex navbar-brand page-scroll" href="/#home">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbarSupportedContent" class="collapse navbar-collapse navbar-right navbar-main-collapse"
            style="margin-top: 5px;margin-right: 50px">
            <ul class="nav navbar-nav full-menu">
                <li class="hidden">
                    <a class="menu-item" href="/#home"></a>
                </li>
                <li class="nav-item">
                    <a class="menu-item" href="/#news" onclick="updateGoogle('news')">NEWS</a>
                </li>
                <li class="nav-item">
                    <a style="font-weight: bold">COMMUNITY</a>
                    <ul class="dropdown">
                        <li class="nav-item">
                            <a class="menu-item" href="/community/4ward/" onclick="updateGoogle('4ward')">ADA for
                                Warriors</a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item" href="/community/mehen/" onclick="updateGoogle('mehen')">Mehen</a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item" href="/community/catalyst/"
                                onclick="updateGoogle('catalyst')">Project Catalyst</a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item" href="/community/freeloaderz/"
                                onclick="updateGoogle('freeloaderz')">FreeLoaderz - Inactive</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a style="font-weight: bold">MISSIONS</a>
                    <ul class="dropdown">
                        <li class="nav-item">
                            <a class="menu-item" href="/missions/third-option-foundation/"
                                onclick="updateGoogle('tof')">Third Option Foundation</a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item" href="/missions/500-rising/"
                                onclick="updateGoogle('rising')">500 Rising</a>
                        </li>
                        <li class="nav-item">
                            <a class="menu-item" href="/missions/captive-audience/"
                                onclick="updateGoogle('ca')">Captive Audience - Retired</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="menu-item" href="/about/faqs" onclick="updateGoogle('faq')">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="page-scroll" href="#contact" onclick="updateGoogle('contact')">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav hidden blackdiv small-menu">
                <li class="hidden">
                    <a class="page-scroll hide-menu" href="/#home"></a>
                </li>
                <li class="nav-item">
                    <a class="page-scroll hide-menu" href="/#news" onclick="updateGoogle('news')">NEWS</a>
                </li>
                <li class="nav-item">
                    <a style="font-weight: bold">COMMUNITY</a>
                    </li>
                <li class="nav-item">
                    <a class="hide-menu" style="margin-left: 20px" href="/community/4ward/" onclick="updateGoogle('4ward')">ADA for Warriors</a>
                </li>
                <li class="nav-item">
                    <a class="hide-menu" style="margin-left: 20px" href="/community/freeloaderz/"
                        onclick="updateGoogle('freeloaderz')">FreeLoaderz</a>
                </li>
                <li class="nav-item">
                    <a class="hide-menu" style="margin-left: 20px" href="/community/mehen/" onclick="updateGoogle('mehen')">Mehen</a>
                </li>
                <li class="nav-item">
                    <a class="hide-menu" style="margin-left: 20px" href="/community/catalyst/" onclick="updateGoogle('catalyst')">Project
                        Catalyst</a>
                </li>
                <li class="nav-item">
                    <a style="font-weight: bold">MISSIONS</a>
                    </li>
                <li class="nav-item">
                    <a class="hide-menu" style="margin-left: 20px" href="/missions/third-option-foundation/" onclick="updateGoogle('tof')">Third
                        Option Foundation</a>
                </li>
                <li class="nav-item">
                    <a class="hide-menu" style="margin-left: 20px" href="/missions/captive-audience/" onclick="updateGoogle('ca')">Captive
                        Audience</a>
                </li>
                <li class="nav-item">
                    <a class="hide-menu" style="margin-left: 20px" href="/missions/500-rising/" onclick="updateGoogle('rising')">500 Rising</a>
                </li>
                <li class="nav-item">
                    <a class="hide-menu" href="/about/faqs" onclick="updateGoogle('faq')">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="page-scroll hide-menu" href="#contact" onclick="updateGoogle('contact')">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
    <a href="#home" class="page-scroll" title="Go to top"><i
            class="fas fa-arrow-alt-circle-up invisible animated"></i></a>
</nav>