    <!-- TOF Section -->
    <section id="tof" class="content-section">
        <div class="info-section">
            <div class="container text-left ms-auto me-auto">
            <h2>Third Option Foundation</h2>
            <p>The Third Option Foundation seeks to heal, help, and honor members of the CIA's Special Operations community and their families.</p>
            <p>It was founded to fill the gap created by the fact that these operators function in a 
                covert manner.  Their covert nature leaves them ineligible for most charitable assistance available to US military members and their families.</p>
            <p>The assistance given can be in 
                the form of financial and logistical support, academic and college prep for children, home maintenance, counseling and family services, physical health
                and wellness support, legacy activities to honor fallen warriors, and the establishment of memorials.</p>
                <p>To learn more about their mission, please visit their <a href="https://www.thirdoptionfoundation.org/" target="_blank">website</a>.</p>
                <p><b>Your ADA delegation to the 4WARD pool is needed to help support this mission.</b></p>
            </div>
        </div>
    </section>