.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover {
  outline: 0;
  color: #ffb200 !important;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  color: #ffb200 !important;
  background-color: transparent !important;
}


.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active a,
h2:hover a,
h2:focus a {
  color: #ffb200 !important;
  text-decoration: underline !important;
}

h2,
h3,
h4,
h5,
h6 {
  color: #ff9a00;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

a,
a i,
a span {
  color: #ffb200;
  text-decoration: none;
  background-color: transparent !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  color: #b37d00 !important;
  text-decoration: underline !important;
}

a:hover i,
a:focus i,
a:hover span,
a:focus span {
  color: #b37d00 !important;
}

.fa-caret-right {
  color: #b37d00;
  cursor: default !important;
}

.btn-default {
  border: 1px solid #ffb200;
  color: #ffb200;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  outline: 0;
  border: 1px solid #b37d00;
  color: #b37d00;
}

button.navbar-toggler,
i.fa-bars {
  background-color: #ffb200;
  color: white;
}

button:focus.navbar-toggler,
button:hover.navbar-toggler,
i:focus.fa-bars,
i:active.fa-bars,
i:hover.fa-bars {
  background-color: #b37d00;
}

/** Captive Audience **/
body.ca .navbar-custom .navbar-brand:focus,
body.ca .navbar-custom .navbar-brand:hover {
  outline: 0;
  color: #4ef58d !important;
}

body.ca .navbar-custom .navbar-brand .navbar-toggle:focus,
body.ca .navbar-custom .navbar-brand .navbar-toggle:active {
  color: #4ef58d !important;
  background-color: transparent !important;
}


body.ca .navbar-custom .nav li a:hover,
body.ca .navbar-custom .nav li a:focus,
body.ca .navbar-custom .nav li.active a,
body.ca h2:hover a,
body.ca h2:focus a {
  color: #4ef58d !important;
  text-decoration: underline !important;
}

body.ca h2,
body.ca h3,
body.ca h4,
body.ca h5,
body.ca h6 {
  color: #4ef58d;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

body.ca a,
body.ca a i,
body.ca a span {
  color: #4ef58d;
  text-decoration: none;
  background-color: transparent !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body.ca a:hover,
body.ca a:focus {
  color: #1b8d46 !important;
  text-decoration: underline !important;
}

body.ca a:hover i,
body.ca a:focus i,
body.ca a:hover span,
body.ca a:focus span {
  color: #1b8d46 !important;
}

body.ca .btn-default {
  border: 1px solid #4ef58d;
  color: #4ef58d;
  background-color: transparent;
}

body.ca .btn-default:hover,
body.ca .btn-default:focus {
  border: 1px solid #1b8d46;
}

body.ca button.navbar-toggler,
body.ca i.fa-bars {
  background-color: #4ef58d;
  color: white;
}

body.ca button:focus.navbar-toggler,
body.ca button:hover.navbar-toggler,
body.ca i:focus.fa-bars,
body.ca i:active.fa-bars,
body.ca i:hover.fa-bars {
  background-color: #1b8d46;
}

/**  End Captive Audience **/

/** TOF **/
body.tof .navbar-custom .navbar-brand:focus,
body.tof .navbar-custom .navbar-brand:hover {
  outline: 0;
  color: #FF0000 !important;
}

body.tof .navbar-custom .navbar-brand .navbar-toggle:focus,
body.tof .navbar-custom .navbar-brand .navbar-toggle:active {
  color: #FF0000 !important;
  background-color: transparent !important;
}


body.tof .navbar-custom .nav li a:hover,
body.tof .navbar-custom .nav li a:focus,
body.tof .navbar-custom .nav li.active a,
body.tof h2:hover a,
body.tof h2:focus a {
  color: #FF0000 !important;
  text-decoration: underline !important;
}

body.tof h2,
body.tof h3,
body.tof h4,
body.tof h5,
body.tof h6 {
  color: #FF0000;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

body.tof a,
body.tof a i,
body.tof a span {
  color: #FF0000;
  text-decoration: none;
  background-color: transparent !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body.tof a:hover,
body.tof a:focus {
  color: #880000 !important;
  text-decoration: underline !important;
}

body.tof a:hover i,
body.tof a:focus i,
body.tof a:hover span,
body.tof a:focus span {
  color: #880000 !important;
}

body.tof .btn-default {
  border: 1px solid #FF0000;
  color: #FF0000;
  background-color: transparent;
}

body.tof .btn-default:hover,
body.tof .btn-default:focus {
  border: 1px solid #880000;
}

body.tof button.navbar-toggler,
body.tof i.fa-bars {
  background-color: #ff0000;
  color: white;
}

body.tof button:focus.navbar-toggler,
body.tof button:hover.navbar-toggler,
body.tof i:focus.fa-bars,
body.tof i:active.fa-bars,
body.tof i:hover.fa-bars {
  background-color: #880000;
}

/**  End TOF **/

/** FreeLoaderz **/
body.freeloaderz .navbar-custom .navbar-brand:focus,
body.freeloaderz .navbar-custom .navbar-brand:hover {
  outline: 0;
  color: #2b90c3 !important;
}

body.freeloaderz .navbar-custom .navbar-brand .navbar-toggle:focus,
body.freeloaderz .navbar-custom .navbar-brand .navbar-toggle:active {
  color: #2b90c3 !important;
  background-color: transparent !important;
}


body.freeloaderz .navbar-custom .nav li a:hover,
body.freeloaderz .navbar-custom .nav li a:focus,
body.freeloaderz .navbar-custom .nav li.active a,
body.freeloaderz h2:hover a,
body.freeloaderz h2:focus a {
  color: #2b90c3 !important;
  text-decoration: underline !important;
}

body.freeloaderz h2,
body.freeloaderz h3,
body.freeloaderz h4,
body.freeloaderz h5,
body.freeloaderz h6 {
  color: #df4863;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

body.freeloaderz a,
body.freeloaderz a i,
body.freeloaderz a span {
  color: #df4863;
  text-decoration: none;
  background-color: transparent !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body.freeloaderz a:hover,
body.freeloaderz a:focus {
  color: #2b90c3 !important;
  text-decoration: underline !important;
}

body.freeloaderz a:hover i,
body.freeloaderz a:focus i,
body.freeloaderz a:hover span,
body.freeloaderz a:focus span {
  color: #2b90c3 !important;
}

body.freeloaderz .btn-default {
  border: 1px solid #df4863;
  color: #df4863;
  background-color: transparent;
}

body.freeloaderz .btn-default:hover,
body.freeloaderz .btn-default:focus {
  border: 1px solid #2b90c3;
}

body.freeloaderz button.navbar-toggler,
body.freeloaderz i.fa-bars {
  background-color: #df4863;
  color: white;
}

body.freeloaderz button:focus.navbar-toggler,
body.freeloaderz button:hover.navbar-toggler,
body.freeloaderz i:focus.fa-bars,
body.freeloaderz i:active.fa-bars,
body.freeloaderz i:hover.fa-bars {
  background-color: #2b90c3;
}

/**  End FreeLoaderz **/

/** Mehen **/
body.mehen .navbar-custom .navbar-brand:focus,
body.mehen .navbar-custom .navbar-brand:hover {
  outline: 0;
  color: #51beff !important;
}

body.mehen .navbar-custom .navbar-brand .navbar-toggle:focus,
body.mehen .navbar-custom .navbar-brand .navbar-toggle:active {
  color: #51beff !important;
  background-color: transparent !important;
}


body.mehen .navbar-custom .nav li a:hover,
body.mehen .navbar-custom .nav li a:focus,
body.mehen .navbar-custom .nav li.active a,
body.mehen h2:hover a,
body.mehen h2:focus a {
  color: #51beff !important;
  text-decoration: underline !important;
}

body.mehen h2,
body.mehen h3,
body.mehen h4,
body.mehen h5,
body.mehen h6 {
  color: #51beff;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

body.mehen a,
body.mehen a i,
body.mehen a span {
  color: #51beff;
  text-decoration: none;
  background-color: transparent !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body.mehen a:hover,
body.mehen a:focus {
  color: #0091e6 !important;
  text-decoration: underline !important;
}

body.mehen a:hover i,
body.mehen a:focus i,
body.mehen a:hover span,
body.mehen a:focus span {
  color: #0091e6 !important;
}

body.mehen .fa-caret-right {
  color: #0091e6;
  cursor: default !important;
}

body.mehen .btn-default {
  border: 1px solid #51beff;
  color: #51beff;
  background-color: transparent;
}

body.mehen .btn-default:hover,
body.mehen .btn-default:focus {
  border: 1px solid #0091e6;
}

body.mehen button.navbar-toggler,
body.mehen i.fa-bars {
  background-color: #51beff;
  color: white;
}

body.mehen button:focus.navbar-toggler,
body.mehen button:hover.navbar-toggler,
body.mehen i:focus.fa-bars,
body.mehen i:active.fa-bars,
body.mehen i:hover.fa-bars {
  background-color: #0091e6;
}

/**  End Mehen **/

/** 500 Rising **/
body.rising .navbar-custom .navbar-brand:focus,
body.rising .navbar-custom .navbar-brand:hover {
  outline: 0;
  color: #3641d9 !important;
}

body.rising .navbar-custom .navbar-brand .navbar-toggle:focus,
body.rising .navbar-custom .navbar-brand .navbar-toggle:active {
  color: #3641d9 !important;
  background-color: transparent !important;
}


body.rising .navbar-custom .nav li a:hover,
body.rising .navbar-custom .nav li a:focus,
body.rising .navbar-custom .nav li.active a,
body.rising h2:hover a,
body.rising h2:focus a {
  color: #3641d9 !important;
  text-decoration: underline !important;
}

body.rising h2,
body.rising h3,
body.rising h4,
body.rising h5,
body.rising h6 {
  color: black;
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

body.rising a,
body.rising a i,
body.rising a span {
  color: #3641d9;
  text-decoration: none;
  background-color: transparent !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body.rising a:hover,
body.rising a:focus {
  color: #232974 !important;
  text-decoration: underline !important;
}

body.rising a:hover i,
body.rising a:focus i,
body.rising a:hover span,
body.rising a:focus span {
  color: #232974 !important;
}

body.rising .btn-default {
  border: 1px solid #3641d9;
  color: #3641d9;
  background-color: transparent;
}

body.rising .btn-default:hover,
body.rising .btn-default:focus {
  border: 1px solid #232974;
}

body.rising button.navbar-toggler,
body.rising i.fa-bars {
  background-color: #3641d9;
  color: white;
}

body.rising button:focus.navbar-toggler,
body.rising button:hover.navbar-toggler,
body.rising i:focus.fa-bars,
body.rising i:active.fa-bars,
body.rising i:hover.fa-bars {
  background-color: #232974;
}

/**  End 500 Rising **/
