@media only screen and (max-device-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px !important;
    }
}

@media only screen and (min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 80px;
    }

    .intro .intro-body .intro-text {
        font-size: 25px;
    }
}


@media only screen and (max-device-width:767px) {
    ul.banner-social-buttons li {
        margin-bottom: 20px !important;
        padding: 0 !important;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0 !important;
    }

    p {
        line-height: 1.2 !important;
    }

    .intro .intro-body .intro-text {
        font-size: 18px;
        text-shadow: 5px 5px 8px #000000;
    }

    p,
    td,
    th,
    dl.faq button {
        font-size: 18px;
        text-shadow: 5px 5px 8px #000000;
    }
}

@media only screen and (max-device-width:400px) {

    ul.banner-social-buttons li {
        display: block !important;
    }
    
    .container,
    .tof-intro-section,
    .ca-intro-section,
    .tof-donation-section,
    .ca-donation-section {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .navbar-fixed-top {
        margin-top: 10px !important;
    }

    .fa-arrow-alt-circle-up {
        position: fixed;
        right: 20px;
        bottom: 20px;
        font-size: 20px;
        text-shadow: 4px 4px 7px #000000;
    }

    .intro .intro-body .intro-text {
        font-size: 16px;
        text-shadow: 4px 4px 7px #000000;
    }

    p,
    td,
    th,
    dl.faq button {
        font-size: 16px;
        text-shadow: 4px 4px 7px #000000;
    }
}

@media only screen and (max-device-height: 500px) {

    .tof-intro-section,
    .ca-intro-section,
    .freeloaderz-section,
    .rising-intro-section,
    .mehen-section,
    .pool-section {
        padding: 100px 0 !important;
    }

    .logo-img {
        margin-bottom: 1em !important;
    }
}