.code-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .copy-code-button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 8px;
    font-weight: 900;
    color: black;
    top: 20px !important;
    position: relative;
    border: none;
}
thead th {
  padding-right: 20px;
  font-size: 18px;
}
tbody td {
  padding-right: 20px;
  font-size: 18px;
}
li a {
  font-size: 18px;
}

li {
  font-size: 18px;
}

.content-section a {
  color: #004888;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.content-section a:hover,
.content-section a:focus {
  color: #008cff;
  background-color: transparent !important;
}

.contact-info-section a, .intro a, dd a, .left-info-section a, .ca-section a {
  color: #008cff !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contact-info-section a:hover, .contact-info-section a:focus, .intro a:hover, .intro a:focus, dd a:hover, dd a.focus, .left-info-section a:hover, .left-info-section a.focus, .ca-section a:hover, .ca-section a.focus {
  color: #0065bd !important;
  background-color: transparent !important;
}

dl.faq button {
  margin: 0;
  margin-top: 16px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 20px;
  text-align: left !important;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

dd {
  margin: 0;
  padding: 0;
  margin-left: 1.5em;
}

dl.faq .desc {
  margin: 0;
  display: none;
  border: 2px solid #000000;
  color: #000000;
  background-color: rgb(255, 255, 255);
  z-index:1;
  position: relative;
  top     : 0px;
  right   : 0px;
}

dl.faq button:hover,
dl.faq button:focus {
  padding: 2px 6px;
  background-color: #004888;
  border: 2px solid #000000;
  cursor: pointer;
}

h1 {
  text-shadow: 4px 10px 10px #000000;
  font-weight: bold;
}

.intro-text {
  text-shadow: 2px 5px 5px #000000;
}

.quote {
  margin: 0 0 25px;
  font-size: medium !important;
}

.font-medium {
  margin: 0 0 25px;
  font-size: medium !important;
  line-height: 1.4
}

.navbar-nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  text-decoration: none !important;
}

@media (max-width: 1115px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}