.code-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .copy-code-button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 8px;
    font-weight: 900;
    color: black;
    top: 20px !important;
    position: relative;
    border: none;
}
thead th {
  padding-right: 20px;
  font-size: 18px;
}
tbody td {
  padding-right: 20px;
  font-size: 18px;
}
li a {
  font-size: 18px;
}

li {
  font-size: 18px;
}

.content-section a {
  color: #004888;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.content-section a:hover,
.content-section a:focus {
  color: #008cff;
}

.contact-info-section a, .intro a, dd a {
  color: #008cff !important;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.contact-info-section a:hover, .contact-info-section a:focus, .intro a:hover, .intro a:focus, dd a:hover, dd a.focus {
  color: #004888 !important;
}

dl.faq button {
  margin: 0;
  margin-top: 16px;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 120%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

dd {
  margin: 0;
  padding: 0;
  margin-left: 1.5em;
}

dl.faq .desc {
  margin: 0;
  display: none;
  border: 2px solid #000000;
  color: #000000;
  background-color: rgb(255, 255, 255);
  z-index:1;
  position: relative;
  top     : 0px;
  right   : 0px;
}

dl.faq button:hover,
dl.faq button:focus {
  padding: 2px 6px;
  background-color: #004888;
  border: 2px solid #000000;
  cursor: pointer;
}
