<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="pool" id="home" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <section id="4ward">
        <div class="pool-section">
            <div class="container text-left ms-auto me-auto">
                <h2>ADA for Warriors (4WARD)</h2>
                <p>ADA for Warriors is a mission-driven single pool for Cardano. The pool was created as a
                    way to give back to those who have quietly served
                    by donating 50% of the pool operator's rewards to the Third
                    Option Foundation. Since then, we expanded our mission to support Captive
                    Audience by donating 25% of our operator rewards.</p>
                <p>
                <ul>
                    <li style="margin-bottom: 20px">
                        <strong><a style="font-size: larger" href="/missions/third-option-foundation#tof-donations"
                                onclick="updateGoogle('tof-donations')">Third Option Foundation
                                Donations</a></strong>
                    </li>
                    <li>
                        <strong><a style="font-size: larger" href="/missions/captive-audience#ca-donations"
                                onclick="updateGoogle('ca-donations')">Captive Audience
                                Donations</a></strong>
                    </li>
                </ul>
                </p>
                <p>The pool consists of one block producer with two relay nodes deployed to AWS. Each AWS instance is
                    using 4 CPUs and 16 GB RAM, which exceeds the current hardware requirements.
                    One relay and the block producer are in the AWS US East Region and the other relay is in the AWS
                    European Central Region. Security and recovery best practices were put in place to help guarantee
                    server availability. Grafana is
                    used to remotely monitor the status of all three servers. Should disaster recovery be needed, secure
                    remote access is available to our admins from anywhere in the world. Our current pool status can be
                    checked with <a href="https://pool.vet/#b6063f0f2fa05d98132f15defed4c69c06ea61451b4ea4cea0ce1b80"
                        onclick="updateGoogle('poolVet')" target="_blank">Pool Vet</a>.</p>
                <p>To help support the community, and get support, we joined the <a
                        href="https://singlepoolalliance.net/" target="_blank">Cardano Single Pool
                        Alliance</a> and the
                    <a href="https://adapools.org/alli/xspo-alliance/11" target="_blank">xSPO Alliance</a>. Both
                    alliances
                    are full of like-minded pool operators who have pledged to run a single pool to help decentralize
                    Cardano. Both alliances have been great sources of information on upcoming projects for Cardano
                    and a great source for tech tips for running our pool.
                </p>
                <p>Joining and participating in those alliances has opened a number of doors for us to contribute to the
                    Cardano community and ecosystem. Some of those opportunities include:
                <ul>
                    <li style="margin-bottom: 20px;cursor: default"><i class="fas fa-caret-right"></i> Joining <a href="/community/freeloaderz" onclick="updateGoogle('freelaoderz')">FreeLoaderz</a>
                    </li>
                    <li style="margin-bottom: 20px;cursor: default"><i class="fas fa-caret-right"></i> Becoming the lead web developer for FreeLoaderz'
                        <a href="https://rwd.freeloaderz.io" onclick="updateGoogle('smartclaimz')"
                            target="_blank">SmartClaimz</a> project
                    </li>
                    <li style="margin-bottom: 20px;cursor: default"><i class="fas fa-caret-right"></i> Participating in the
                        <a href="https://ziberbugs.io/" onclick="updateGoogle('ziberbugs')"
                            target="_blank">ZiberBugs</a> ISPO
                    </li>
                    <li style="margin-bottom: 20px;cursor: default"><i class="fas fa-caret-right"></i> Participating in the
                        <a href="https://ourprincessada.com/" onclick="updateGoogle('ourprincessada')"
                            target="_blank">Our Princess ADA</a> Stakepool Support agreement
                    </li>
                    <li style="cursor: default"><i class="fas fa-caret-right"></i> Joining <a href="/community/mehen" onclick="updateGoogle('mehen')">Mehen</a> as their CTO</li>
                </ul>
                </p>
                <p></p>
            </div>
        </div>
    </section>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include modal.html %}
</body>

</html>