<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="ca" id="home" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <section id="ca">
        <div class="ca-intro-section">
            <div class="container text-left ms-auto me-auto">
                <div class="center-flex">
                    <img src="/img/ca/ca.png" class="logo-img">
                    <h2>Captive Audience</h2>
                </div>
                <p>Our ADA for Warriors pool donates 10% of the pool operator rewards to Captive Audience. 
                    Donations are typically made during the last epoch of each month that our pool was active.</p>
                <p>Captive Audience was established by a retired army special forces operator with
                    specialized training and experience in personnel recovery. CAPTaRT is comprised of a team with three decades of experience in defense, intelligence, SERE,
                    travel/personnel/facility security, counter terrorism,
                    personnel recovery, infiltration/exfiltration, critical incident stress management, risk and threat
                    assessments, and many more skills crucial to the
                    company’s mission to eradicate violence perpetrated against travelers.</p>
                <p>Requests for their services have spiked since Russia invaded Ukraine in early
                    2022. In response to
                    these requests,
                    Captive Audience has started <a class=""
                        href="https://www.captiveaudienceptrt.com/support-ukraine-ocv" target="_blank"
                        onclick="updateGoogle('ca')">#OperationCaffeinatedVikings</a>.</p>
                <p>To learn more about their mission and classes offered, please visit their <a class=""
                        href="https://www.captiveaudienceptrt.com/" target="_blank"
                        onclick="updateGoogle('ca')">website</a>.</p>
                <div class="text-center">
                    <a href="#ca-donations" class="btn btn-circle page-scroll" onclick="updateGoogle('ca-donations')"
                    title="Donation Information">
                        <i class="fas fa-angle-double-down animated" style="text-shadow: none !important;"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="ca-donations" class="ca-donation-section container text-left">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>{{ page.title }}</h2>
                {{ content }}
            </div>
        </div>
    </section>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include modal.html %}
</body>

</html>