<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="catalyst" id="home" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <section id="catalyst">
        <div class="catalyst-section">
            <div class="container text-left left-container me-auto">
                <div class="center-flex">
                    <img src="/img/catalyst/catalyst_logo.png" class="logo-img">
                </div>
                <p>Our <strong><a href="https://cardano.ideascale.com/c/idea/418759" target="_blank">ADA Bug Bounty
                    Website</a></strong> is funded for Fund 9! Check out our news section for updates!</p>
                <p>This proposal was written by our pool operator, Steve Fisher. It's goal is to unite projects
                    and
                    developers to help Cardano projects with whatever problems or issues stand in their way. Our hope is
                    that
                    this collaboration will result in more secure, more robust, and more user friendly dApps in the
                    Cardano ecosystem.
                </p>
     </div>
        </div>
    </section>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include modal.html %}
</body>

</html>