<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="catalyst" id="home" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <section id="catalyst">
        <div class="catalyst-section">
            <div class="container text-left left-container me-auto">
                <div class="center-flex">
                    <img src="/img/catalyst/catalyst_logo.png" class="logo-img">
                </div>
                <p>We are proud to say that our <strong><a href="https://cardano.ideascale.com/c/idea/418759" target="_blank">Catalyst ADA Bug Bounty
                    Website</a></strong> project for Fund 9 was closed out as completed in August!</p>
                <p>Now we need your support! No matter what type of project help you need, ADA Bounties can help you find the right person for the job.</p>
                    <p>Please go to <a href="https://adabounties.io" target="_blank">ADA Bounties</a> to see what we can do for youand your project.</p>
                    <p>Stay up to date on the latest info by connecting with <a href="https://x.com/AdaBounties" target="_blank">@ADABounties</a> on Twitter!</p>
     </div>
        </div>
    </section>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include modal.html %}
</body>

</html>