<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body class="catalyst" id="home" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <section id="catalyst">
        <div class="catalyst-section">
            <div class="container text-left left-container me-auto">
                <div class="center-flex">
                    <img src="/img/catalyst/catalyst_logo.png" class="logo-img">
                </div>
                <p>We are excited about Fund 9 for Catalyst for a number of reasons. The first being that we wrote our
                    first Catalyst Proposals in Fund 9!
                    The second thing is that we're taking a more active role in what Cardano will become. We've slowly
                    upped our community involvement over the past year.
                    That has opened a lot of doors for collaboration with some impressive individuals within the Cardano
                    community. We obviously don't know what the future holds,
                    but it's looking pretty bright from where we stand!
                </p>
                <p>This first proposal was written by our pool operator, Steve Fisher. It's goal is to unite projects
                    and
                    developers to help Cardano projects with whatever problems or issues stand in their way. Our hope is
                    that
                    this collaboration will result in more secure, more robust, and more user friendly dApps in the
                    Cardano ecosystem.
                <ul>
                    <li style="margin-bottom: 20px">
                        <strong><a href="https://cardano.ideascale.com/c/idea/418759" target="_blank">ADA Bug Bounty
                                Website</a></strong>: There is no central place a Cardano project can post for community
                        help. This site will be a gateway to solving project needs with the rest of the community,
                        ultimately
                        resulting in higher quality dApps.
                    </li>
                </ul>
                </p>
                <p>The next 3 proposals are for the <a href="/community/mehen" onclick="updateGoogle('mehen')">Mehen</a> stablecoin project. Our pool
                    operator Steve Fisher is the CTO for Mehen. These proposals
                    will allow Mehen to create the first one-to-one fiat backed stablecoin for Cardano.
                <ul>
                    <li style="margin-bottom: 20px">
                        <strong><a href="https://cardano.ideascale.com/c/idea/416902" target="_blank">Mehen: Fiat-backed
                                Stablecoin USDM</a></strong>: This proposal covers the tech and development teams -
                        front-end, back-end, and on-chain minting/burning systems. It also provides funding for
                        marketing, graphics, videos, and community management.
                    </li>
                    <li style="margin-bottom: 20px">
                        <strong><a href="https://cardano.ideascale.com/c/idea/416917" target="_blank">Mehen Onboarding
                                Assistance</a></strong>: The basic set of checks - liveliness and document verification,
                        OFAC screenings, and fraud checks costs Mehen just under $2 per user. This proposal will allow
                        us to on-board over 5,000 users to the Mehen protocol for free, enabling them to get paid in the
                        USDM coin, then burn/redeem USDM for USD.
                    </li>
                    <li><strong><a href="https://cardano.ideascale.com/c/idea/416918" target="_blank">Mehen: USDM State
                                Licensing Fees</a></strong>: The licensing process is expensive, and each state charges
                        a different amount. Some states charge up to $10,000 to apply for a license. For this $26,578 we
                        can pay the application fees for licenses in the following 27
                        states and territories: Idaho, Missouri, Utah, Delaware, DC, Maine, New Hampshire, Nevada,
                        Louisiana, Mississippi, North Dakota, Alabama, Indiana, Nebraska, Oregon, Virginia, Washington,
                        West Virginia, Kentucky, Massachusetts, Iowa, North Carolina, Rhode Island, South Dakota,
                        Kansas, Arizona, and Connecticut.
                        By achieving legal operating status in these states, we will be able to have a larger base of
                        individuals who are able to mint and redeem USDM, enhancing its utility as a stablecoin.</li>
                </ul>
                </p>
                <p>Fund 9 has a number of great proposals in it. Here are two others that we are tracking:
                <ul>
                    <li style="margin-bottom: 20px">
                        <strong><a href="https://cardano.ideascale.com/c/idea/417887" target="_blank">Blockchain Surveys
                                for DAOs & More</a></strong>: There's no user-friendly, on-chain mechanism for DAOs,
                        researchers, marketing teams, etc. to ask their communities questions, conduct voting,
                        and help make group decisions.
                    </li>
                    <li>
                        <strong><a href="https://cardano.ideascale.com/c/idea/417955" target="_blank">Catalyst Research
                                & Voter Tool</a></strong>: Catalyst generates massive data siloed in zoom chats,
                        discord, spreadsheets, & on Ideascale SAAS product, limiting the community's ability to learn
                        from the talent and wisdom within Catalyst.
                    </li>
                </ul>
                </p>
                <p>We do hope you take the time to review our proposals and if you like them, give a kudos!  Voting starts August 11th 2022!</p>
            </div>
        </div>
    </section>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include modal.html %}
</body>

</html>