<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body class="freeloaderz" id="home" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    <section id="freeloaderz">
        <div class="freeloaderz-section">
            <div class="container text-left left-container me-auto">
                <div class="center-flex">
                    <img src="/img/freeloaderz/logo.png" class="logo-img">
                </div>
                <p>Steve Fisher, our pool operator, is a core member of <a href="https://www.freeloaderz.io/" target="_blank">Freeloaderz</a> and
                    the lead web developer for the FreeLoaderz <a href="https://smartclaimz.io" target="_blank">SmartClaimz</a> project.</p>
                <p>FreeLoaderz was created in February of 2022.  It brought together Cardano stake pools operators that
                    were offering Cardano TX Submit API access to their Relay servers and set them up behind Load Balancers (LBs). The API service
                    ultimately helps improve transaction speed by allowing supporting user wallets to submit transactions directly to a Relay through the LBs.  As of
                    July 2022, there are nearly 900 Cardano enthusiasts in the <a href="https://discord.gg/rP4PdV8jRY" target="_blank">Discord</a> server!</p>
                    <p>FreeLoaderz SmartClaimz is a novel reward distribution platform that aims to be the premier web3 dApp for end users to be able to claim tokens,
                         and for decentralized autonomous organizations (DAOs), token projects, NFT projects, video game projects, and more to distribute quality tokens to users.</p>  
           </div>
        </div>
    </section>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include modal.html %}
</body>

</html>