<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="home" data-spy="scroll" data-target=".navbar-fixed-top">
        {% include nav.html %}
        <section id="post">
            <div class="post-section">
                <div class="container text-left ms-auto me-auto">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>{{ page.title }}</h2>
                    <i>News Date: {{ page.date }}</i>
                    {{ content }}
                </div>
            </div>
        </div>
        </div>
        </section>
        {% include contact.html %}
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>